:root {
  --mainBG: hsl(222, 26%, 31%);
  --keypadBG: hsl(223, 31%, 20%);
  --screenBG: hsl(224, 36%, 15%);
  --keyBG1: hsl(225, 21%, 49%);
  --keyShadow1: hsl(224, 28%, 35%);
  --keyBG2: hsl(6, 63%, 50%);
  --keyShadow2: hsl(6, 70%, 34%);
  --keyBG3: hsl(30, 25%, 89%);
  --keyShadow3: hsl(28, 16%, 65%);
  --text1: hsl(221, 14%, 31%);
  --text2: hsl(0, 0%, 100%);
  --custom: hsl(0, 0%, 100%);
}
* {
  font-family: "League Spartan", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  font-size: 32px;
  background-color: var(--mainBG);
  display: flex;
  justify-content: center;
  align-items: center;
}
.full {
  width: minmax(30%, 420px);
  height: minmax(40%, 550px);
  padding: 5px;
}
header {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--custom);
}
h2 {
  display: flex;
  font-size: 32px;
  width: 50%;
}
.right-side-header {
  display: flex;
  width: 50%;
  height: 100%;
  align-items: baseline;
  justify-content: flex-end;
}
.right-side-header p {
  display: flex;
  height: 100%;
  font-size: 0.7rem;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  margin: 20px;
  font-weight: 100;
  opacity: 0.8;
}
.theme-selector {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}
.theme-id {
  width: 100%;
  text-align: center;
  font-size: 12px;
  letter-spacing: 5px;
  font-weight: 100;
  opacity: 0.8;
}
.toggle-switch {
  width: 100%;
  display: flex;
  border-radius: 100px;
  background-color: var(--keypadBG);
  padding: 3px;
  margin: 3px;
  justify-content: space-around;
}
input {
  width: 100%;
  display: inline-block;
  background-color: var(--keyBG2);
  opacity: 1;
  border-radius: 50px;
  position: relative;
}
input::before {
  content: ".";
  font-size: 63px;
  color: var(--keyBG2);
  position: absolute;
  top: -32px;
}
.one-theme {
  opacity: 1;
}
.two-theme {
  opacity: 1;
}
.three-theme {
  opacity: 1;
}
.one-theme-disabled {
  opacity: 0;
}
.two-theme-disabled {
  opacity: 0;
}
.three-theme-disabled {
  opacity: 0;
}
.container {
  display: grid;
  width: 100%;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  grid-row-gap: 15px;
  grid-template-areas:
    "alias-screen"
    "alias-keypad";
  align-items: center;
  justify-items: center;
}
.screen {
  background-color: var(--screenBG);
  grid-row: 1/2;
  grid-column: 1/2;
  border-radius: 10px;
  width: 100%;
  padding: 30px;
  margin-top: 20px;
  font-size: 2.5rem;
  display: flex;
  justify-content: flex-end;
  color: var(--custom);
}
.keypad {
  width: 100%;
  background-color: var(--keypadBG);
  grid-row: 2/3;
  grid-column: 1/2;
  border-radius: 10px;
  display: grid;
  padding: 20px;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  font-size: 25px;
  /* justify-content: center;
  align-content: center; */
  text-align: center;
}
.btn {
  padding: 15px 25px;
  background-color: var(--keyBG3);
  border-radius: 5px;
  color: var(--text1);
  width: 100%;
  box-shadow: inset 0px -4px 2px 0px var(--keyShadow3);
}
.btn:hover {
  cursor: pointer;
  background-color: var(--keyShadow3);
}
.btn1 {
  padding: 15px 25px;
  background-color: var(--keyBG1);
  border-radius: 5px;
  color: var(--text2);
  width: 100%;
  box-shadow: inset 0px -4px 2px 0px var(--keyShadow1);
}
.btn1:hover {
  cursor: pointer;
  background-color: var(--keyShadow1);
}
.btn2 {
  padding: 15px 25px;
  background-color: var(--keyBG2);
  border-radius: 5px;
  color: var(--text2);
  width: 100%;
  box-shadow: inset 0px -4px 2px 0px var(--keyShadow2);
}
.btn2:hover {
  cursor: pointer;
  background-color: var(--keyShadow2);
}
.one {
  grid-area: 3/1/4/2;
}
.two {
  grid-area: 3/2/4/3;
}
.three {
  grid-area: 3/3/4/4;
}
.minus {
  grid-area: 3/4/3/5;
}
.four {
  grid-area: 2/1/3/2;
}
.five {
  grid-area: 2/2/3/3;
}
.six {
  grid-area: 2/3/3/4;
}
.plus {
  grid-area: 2/4/3/5;
}
.seven {
  grid-area: 1/1/2/2;
}
.eight {
  grid-area: 1/2/2/3;
}
.nine {
  grid-area: 1/3/2/4;
}
.del {
  grid-area: 1/4/2/5;
}
.dot {
  grid-area: 4/1/5/2;
}
.zero {
  grid-area: 4/2/5/3;
}
.divide {
  grid-area: 4/3/5/4;
}
.multiply {
  grid-area: 4/4/5/5;
}

.reset {
  grid-area: 5/1/6/3;
}
.equal {
  grid-area: 5/3/6/5;
}
@media screen and ((width < 750px) or (height < 750px)) {
  .theme-id {
    letter-spacing: normal;
  }
  input::before {
    font-size: 61px;
    top: -31px;
    left: -2px;
  }
  .right-side-header p {
    margin: 15px;
  }
  .container {
    grid-row-gap: 7.5px;
  }
  .screen {
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
    font-size: 1.25rem;
  }
  .keypad {
    border-radius: 10px;
    padding: 15px;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    font-size: 15px;
  }
  .btn {
    padding: 5px 15px;
    border-radius: 4px;
    box-shadow: inset 0px -2px 1px 0px var(--keyShadow3);
  }
  .btn1 {
    padding: 5px 15px;
    border-radius: 4px;
    box-shadow: inset 0px -2px 1px 0px var(--keyShadow1);
  }
  .btn2 {
    padding: 5px 15px;
    border-radius: 4px;
    box-shadow: inset 0px -2px 1px 0px var(--keyShadow2);
  }
}
